ALTER TABLE products DISABLE ROW LEVEL SECURITY;
ALTER TABLE featured_categories DISABLE ROW LEVEL SECURITY;
ALTER TABLE enquiries DISABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS "Allow authenticated full access to products" ON products;
DROP POLICY IF EXISTS "Allow public to view products" ON products;
