-- 1. Completely disable Row Level Security on your tables
ALTER TABLE products DISABLE ROW LEVEL SECURITY;
ALTER TABLE enquiries DISABLE ROW LEVEL SECURITY;
ALTER TABLE featured_categories DISABLE ROW LEVEL SECURITY;

-- 2. Drop any old policies that might be causing conflicts
DROP POLICY IF EXISTS "Allow authenticated full access to products" ON products;
DROP POLICY IF EXISTS "Allow public to view products" ON products;

-- 3. Fix Storage permissions so image uploads work for anyone
DROP POLICY IF EXISTS "Public Upload - product-images" ON storage.objects;
DROP POLICY IF EXISTS "Public Update - product-images" ON storage.objects;
DROP POLICY IF EXISTS "Public Delete - product-images" ON storage.objects;
DROP POLICY IF EXISTS "Public Read - product-images" ON storage.objects;

CREATE POLICY "Public Upload - product-images" ON storage.objects FOR INSERT WITH CHECK (bucket_id = 'product-images');
CREATE POLICY "Public Update - product-images" ON storage.objects FOR UPDATE USING (bucket_id = 'product-images');
CREATE POLICY "Public Delete - product-images" ON storage.objects FOR DELETE USING (bucket_id = 'product-images');
CREATE POLICY "Public Read - product-images" ON storage.objects FOR SELECT USING (bucket_id = 'product-images');

